.puzzle-box {
  position: relative;
  background-color: #111;

  .puzzle-item-box {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    font-weight: bold;
    transition: all .3s ease;
  }
}